div {
	color:#fafafa;
	text-align:center;
	font-family:Garamond;
	font-size:20px;
	width:500px;
	border:2px solid #ffffff;
	border-radius:10px;
	margin:auto;
	padding:20px;
}
img {
	margin:auto;
	display:block;
}
h1 {
	text-align:center;
	color:#fafafa;
	font-style: italic;
}
body{
	background-color:#4a4a4a;
}
#profile{
	background-color:#ffffff;
	padding:6px;
}