header{
	text-align:center;
	color:#222222;
	font-style: italic;
	font-weight:bold;
	font-size:35px;
	padding-top:30px;
	margin-bottom:20px;
}
html{
	width:100%;
}
body{
	background-color:#cccccc;
	height:100%;
	width:100%;
	margin:0;
	min-width:600px;
}
#topnav {
	display:block;
	width:100%;
	margin-left:25%;
	font-size:20px;
	font-style:italic;
	position:fixed;

}
#topnav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
#topnav li{
	display:inline;
	float:left;
}

#topnav a:link,a:visited{
	display:block;
	color:#fafafa;
	width:150px;
	background-color:#333333;
	text-align:center;
	font-weight:bold;
	padding:3px;
	text-decoration:none;
}
#topnav a:hover,a:active{
	background-color:#cccccc;
	color:#333333;
}
#profile{
	background-color:#cccccc;
	padding:3px;
	width:200px;
}
div{
	color:#000000;
	text-align:center;
	font-family:Garamond;
	font-size:20px;
	width:45%;
	margin:auto;
	background-color:#cccccc;
	padding:0px 15px;
}
div p{
	background-color:#ffffff;
	padding: 0px 10px 10px 10px;
}
div p a:link,a:active{
	text-align:center;
	text-decoration:none;
	color:#40d7fa;
}
div p a:visited{
	color:#40d7fa;
}
div p a:hover{
	color:#0000ff;
	font-weight:bold;
}

.left{
	float:left;
	border-right:1px solid black;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin-left:5%;
	margin-top:2%;
}
.right{
	float:right;
	border-left:1px solid black;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	margin-right:5%;
	margin-top:2%;
}
.left p{
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.right p{
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

#small{
	font-size:18px;
}
#banner{
	width:65%;
	margin:auto;
	padding-left:100px;
	padding-right:100px;
	background-color:#333333;
}
img {
	margin:auto;
	display:block;
}
hr {
	width:50%;
}
.title{
	font-size:25px;
	font-style:italic;
	text-decoration:underline;
	font-weight:bold;
}
.clear{
	clear:both;
	height:100px;
}
footer ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
footer ul li{
	display:inline;
}
footer a:link,a:active,a:visited{
	text-align:center;
	text-decoration:none;
	color:#fafafa;
}
footer a:hover{
	color:#c0c0c0;
	font-style:italic;
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:40px;
	padding-top:10px;
	padding-bottom:10px;
	color:#fafafa;
	background-color:#333333;
	text-align:center;
	font-size:12px;
	margin-top:20px;
	clear:both;
}
#small2{
	font-size:10px;
	font-weight: bold;
}
footer p{
	line-height:0%;
}
#toplink{
	line-height:50%;
	position:fixed;
	right:2.5%;
	bottom:10px;
	font-size:1em;
}
#toplink a:hover{
	font-weight: bold;
	font-style: normal;
}
/* gradient code
IE10 Consumer Preview
background: -ms-linear-gradient(top, #5A5A5A 0%, #000000 100%);
Mozilla Firefox
background: -moz-linear-gradient(top, #5A5A5A 0%, #000000 100%);
Opera
background: -o-linear-gradient(top, #5A5A5A 0%, #000000 100%);
Webkit (Safari/Chrome 10)
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5A5A5A), color-stop(1, #000000));
Webkit (Chrome 11+)
background: -webkit-linear-gradient(top, #5A5A5A 0%, #000000 100%);
W3C Markup, IE10 Release Preview
background: linear-gradient(to bottom, #5A5A5A 0%, #000000 100%);
*/
