#aboutme{
	color:#fafafa;
	text-align:center;
	font-family:Garamond;
	font-size:20px;
	width:500px;
	border:2px solid #ffffff;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	margin:auto;
	padding:20px;
}
img {
	margin:auto;
	display:block;
}
.h1 {
	text-align:center;
	color:#fafafa;
	font-style: italic;
	font-weight:bold;
	font-size:35px;
}
body{
background-color:#000000;
}
#profile{
	background-color:#ffffff;
	padding:5px;
}
#banner{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #5A5A5A 0%, #000000 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #5A5A5A 0%, #000000 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #5A5A5A 0%, #000000 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5A5A5A), color-stop(1, #000000));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #5A5A5A 0%, #000000 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #5A5A5A 0%, #000000 100%);
border: 2px solid #ffffff;
border-radius:10px;
width:200px;
margin:auto;
padding:10px;
padding-top:20px;
margin-top:-20px;
}
